<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{% block title %}Electronic Stock Exchange{% end %}</title>
<link rel="stylesheet" type="text/css" href="static/style.css" />
{% block extrastyles %}{% end %}
</script>
</head>
<body>
<div id="page-container">
	<div id="header">
    {% block header %}{% end %}
	</div>
    <div id="body">
    {% block body %}{% end %}
    </div>
</div>
</body>
</html>
