{% extends "base.html" %}

{% block extrahead %}
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script>
{% if prices %}
    google.load('visualization', '1', {packages:['corechart']});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
        var price_data = new google.visualization.DataTable({{ prices }});
        var price_chart = new google.visualization.LineChart(document.getElementById('price_chart'));
        price_chart.draw(price_data, {
            title: '{{ symbol }} Price',
            pointSize: 5,
            hAxis: {
                title: 'Time',
                showTextEvery: 1,
                slantedText: true,
                slantedTextAngle: 90
            },
            vAxis: {title: 'Price'}
        }); 
        var volume_data = new google.visualization.DataTable({{ volume }});
        var volume_chart = new google.visualization.LineChart(document.getElementById('volume_chart'));
        volume_chart.draw(volume_data, {
            title: '{{ symbol }} Volume',
            pointSize: 5,
            hAxis: {
                title: 'Time',
                showTextEvery: 1,
                slantedText: true,
                slantedTextAngle: 90
            },
            vAxis: {title: 'Volume'}
        });
    }
{% end %}
</script>
{% end %}

{% block header %}
<h2>Electronic Stock Exchange</h2>
{% end %}


{% block body %}
<div id="price_chart"></div>
<div id="volume_chart"></div>
{% end %}
